<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">About</li>
                </ol>
                <div class="card card-default">
                    <div class="card-header">Description Section</div>
                    <div class="card-body">
                        <form method="post" v-on:submit.prevent="update()">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Description</label>
                                <textarea type="text" class="form-control" v-model="about.description" ></textarea>
                            </div>
                            <div class="col-md-12" align="center">
                                <button class="btn btn-primary col-md-4">Save</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>

                <br>
                <br>

                <div class="card card-default">
                    <div class="card-header">Add Video Links Section</div>
                    <div class="card-body">
                        <form method="post" v-on:submit.prevent="updatevideos()">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Description</label>
                                    <input type="text" class="form-control" v-model="videolinks.url_video_one">
                                    <input type="text" class="form-control" v-model="videolinks.url_video_two">
                                </div>
                                <div class="col-md-12" align="center">
                                    <button class="btn btn-primary col-md-4">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
 </div>
</template>

<script>
    var csrf_token = document.querySelector("meta[name='csrf-token']").attributes.content.value;
    export default {
        data: function(){
            return {
                about: {
                    description: '',
                },

                videolinks: {
                    url_video_one: '',
                    url_video_two: ''
                },
            }
        },
        methods:{
            update: function(){
                this.$http.put('/api/about', JSON.stringify(this.about), {headers: window.myheaders})
                          .then(res => {
                                $.Toast("success", "About Description Successfully Updated.", "success", {});
                          })
            },
            updatevideos: function(){
                this.$http.put('/api/videolinks', JSON.stringify(this.videolinks), {headers: window.myheaders})
                    .then(res => {
                        $.Toast("success", "Video Links Updated Successfully Updated.", "success", {});
                    })
            },
            init: function(){
                this.$http.get('/api/about', {headers: window.myheaders})
                      .then(res => {
                          this.about = res.body[0];
                      });

                this.$http.get('/api/videolinks', {headers: window.myheaders})
                    .then(res => {
                        this.videolinks = res.body[0];
                    });

            }
        },
        mounted() {
            this.init();
        }
    }
</script>
