<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Faq</li>
                </ol>

                <div class="card card-default">
                    <div class="card-header">Add New Faq</div>
                    <div class="card-body">
                        <form class="row" v-on:submit.prevent="addlist()">
                            <div class="col-md-4"><input required class="form-control" placeholder="title" v-model="new_list.title" type="text"></div>
                            <div class="col-md-4">
                                <select class="form-control" required v-model="new_list.category">
                                    <option value=""> -- Select Category --</option>
                                    <option value="General">General</option>
                                    <option value="Pre-ICO">Pre-ICO</option>
                                    <option value="Tokens">Tokens</option>
                                    <option value="Client">Client</option>
                                    <option value="Legal">Legal</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <textarea row="30" style="width: 100%; min-height:150px; " required v-model="new_list.description"> </textarea>
                            </div>

                            <div class="col-md-3"><button type="submit" class="btn btn-primary">Add</button></div>
                        </form>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">General List Section</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table" style="width:100%">
                                    <thead>
                                        <tr>

                                            <th>Title</th>
                                            <th>Description</th>
                                            <th align="right" style="text-align:right;min-width:200px;">Action</th>
                                        </tr>
                                    </thead>
                                        <transition-group tag="tbody" mode="out-in" name="slidefade">
                                            <tr v-for="item in team_list" :key="item.id" v-if="item.category==='General'">
                                                <td>{{item.title}}</td>
                                                <td>{{item.description}}</td>
                                                <td align="right">
                                                    <button @click="editlist = item;" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#editmodal"><span class="fas fa-edit"></span></button>
                                                    <button @click="deletelist(item.id)" class="btn btn-xs btn-danger"><span class="fas fa-trash"></span></button>
                                                </td>
                                            </tr>
                                        </transition-group>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">Pre-ICO List Section</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th align="right" style="text-align:right;min-width:200px;">Action</th>
                                    </tr>
                                    </thead>
                                    <transition-group tag="tbody" mode="out-in" name="slidefade">
                                        <tr v-for="item in team_list" :key="item.id" v-if="item.category==='Pre-ICO'">
                                            <td>{{item.title}}</td>
                                            <td>{{item.description}}</td>
                                            <td align="right">
                                                <button @click="editlist = item;" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#editmodal"><span class="fas fa-edit"></span></button>
                                                <button @click="deletelist(item.id)" class="btn btn-xs btn-danger"><span class="fas fa-trash"></span></button>
                                            </td>
                                        </tr>
                                    </transition-group>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">Tokens Section</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th align="right" style="text-align:right;min-width:200px;">Action</th>
                                    </tr>
                                    </thead>
                                    <transition-group tag="tbody" mode="out-in" name="slidefade">
                                        <tr v-for="item in team_list" :key="item.id" v-if="item.category==='Tokens'">
                                            <td>{{item.title}}</td>
                                            <td>{{item.description}}</td>
                                            <td align="right">
                                                <button @click="editlist = item;" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#editmodal"><span class="fas fa-edit"></span></button>
                                                <button @click="deletelist(item.id)" class="btn btn-xs btn-danger"><span class="fas fa-trash"></span></button>
                                            </td>
                                        </tr>
                                    </transition-group>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">Client List Section</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th align="right" style="text-align:right;min-width:200px;">Action</th>
                                    </tr>
                                    </thead>
                                    <transition-group tag="tbody" mode="out-in" name="slidefade">
                                        <tr v-for="item in team_list" :key="item.id" v-if="item.category==='Client'">

                                            <td>{{item.title}}</td>
                                            <td>{{item.description}}</td>
                                            <td align="right">
                                                <button @click="editlist = item;" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#editmodal"><span class="fas fa-edit"></span></button>
                                                <button @click="deletelist(item.id)" class="btn btn-xs btn-danger"><span class="fas fa-trash"></span></button>
                                            </td>
                                        </tr>
                                    </transition-group>
                                </table>
                            </div>
                        </div>

                        <hr>


                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">Legal List Section</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th align="right" style="text-align:right;min-width:200px;">Action</th>
                                    </tr>
                                    </thead>
                                    <transition-group tag="tbody" mode="out-in" name="slidefade">
                                        <tr v-for="item in team_list" :key="item.id" v-if="item.category==='Legal'">

                                            <td>{{item.title}}</td>
                                            <td>{{item.description}}</td>
                                            <td align="right">
                                                <button @click="editlist = item;" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#editmodal"><span class="fas fa-edit"></span></button>
                                                <button @click="deletelist(item.id)" class="btn btn-xs btn-danger"><span class="fas fa-trash"></span></button>
                                            </td>
                                        </tr>
                                    </transition-group>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="editmodal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editmodal">Edit List</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div classs="col-md-12">
                        <div class="col-md-12"><input required class="form-control" placeholder="title" v-model="editlist.title" type="text"></div>
                        <div class="col-md-12">
                            <select class="form-control" required v-model="editlist.category" style="margin-bottom:10px;">
                                <option value=""> -- Select Category --</option>
                                <option value="General">General</option>
                                <option value="Pre-ICO">Pre-ICO</option>
                                <option value="Tokens">Tokens</option>
                                <option value="Client">Client</option>
                                <option value="Legal">Legal</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <textarea required v-model="editlist.description" style="margin-bottom:10px; min-height: 100px; width:100% ">
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" data-dismiss="modal" @click="updatelist()">Update</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    var csrf_token = document.querySelector("meta[name='csrf-token']").attributes.content.value;
    export default {
        data: function(){
            return {
                new_list: {
                    title: '',
                    category: '',
                    description: ''
                },
                team_list: [],
                editlist: {
                    id: 0,
                    title: '',
                    category: '',
                    description: ''
                },
            }
        },
        methods:{
            updatelist: function(){
                this.$http.put('/api/faq', JSON.stringify(this.editlist), {headers: window.myheaders})
                          .then(res => {
                                this.init();
                                $.Toast("success", "Faq Successfully Updated.", "success", {});
                          });
            },
            deletelist: function(id){
                this.$http.post('/api/deletefaq/', {id: id}, {headers: window.myheaders})
                          .then(res => {
                                var list = this.team_list.filter(ls => ls.id == id)[0];
                                this.team_list.splice(this.team_list.indexOf(list), 1);
                                $.Toast("success", "Faq Successfully Deleted.", "success", {});
                          });
            },
            addlist: function(){
                this.$http.post('/api/faq', JSON.stringify(this.new_list), {headers: window.myheaders})
                          .then(res => {
                                this.init();
                                this.new_list.title = "";
                                this.new_list.category = "";
                                this.new_list.description = "";
                                $.Toast("success", "Faq Successfully Added.", "success", {});
                          });
            },
            init: function(){
                this.$http.get('/api/faq', {headers: window.myheaders})
                          .then(res => {
                              this.team_list = res.body;
                          });
            },

        },
        mounted() {
            this.init();
        }
    }
</script>
