<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Features</li>
                </ol>

                <div class="card card-default">
                    <div class="card-header">Add New Feature</div>
                    <div class="card-body">
                        <form class="row" v-on:submit.prevent="addlist()">
                            <div class="col-md-6">
                                <input required type="file" @change="imageChanged('add', $event)" >
                            </div>
                            <div class="col-md-6">
                                <input required type="text" required v-model="new_list.slug" >
                            </div>
                            <div class="col-md-12">
                                <textarea row="30" style="width: 100%; min-height:150px; " required v-model="new_list.description"> </textarea></div>

                            <div class="col-md-3"><button type="submit" class="btn btn-primary">Add</button></div>
                        </form>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">Features List Section</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table" style="width:100%">
                                    <thead>
                                    <tr>

                                        <th>Image</th>
                                        <th>Description</th>
                                        <th>Slug</th>
                                        <th align="right" style="text-align:right;min-width:200px;">Action</th>
                                    </tr>
                                    </thead>
                                    <transition-group tag="tbody" mode="out-in" name="slidefade">
                                        <tr v-for="item in feature_list" :key="item.id" >

                                            <td><img :src="'/feature_icons/'+item.image" style="height:30px;border-radius:50%;width:30px"></td>
                                            <td>{{item.description}}</td>
                                            <td>{{item.slug}}</td>
                                            <td align="right">
                                                <button @click="editlist = item; editlist.image = '';" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#editmodal"><span class="fas fa-edit"></span></button>
                                                <button @click="deletelist(item.id)" class="btn btn-xs btn-danger"><span class="fas fa-trash"></span></button>
                                            </td>
                                        </tr>
                                    </transition-group>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="editmodal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit List</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">

                            <div class="col-md-12">
                                <input required type="file" @change="imageChanged('edit', $event)" >
                            </div>

                            <div class="col-md-12">
                            <textarea required v-model="editlist.description" style="margin-bottom:10px; min-height: 100px; width:100% ">
                            </textarea>
                            </div>

                            <div class="col-md-12">
                                <input required type="text"  v-model="editlist.slug">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" data-dismiss="modal" @click="updatelist()">Update</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    var csrf_token = document.querySelector("meta[name='csrf-token']").attributes.content.value;
    export default {
        data: function(){
            return {
                new_list: {

                    image: '',
                    description: '',
                    slug: ''
                },
                feature_list: [],
                editlist: {
                    id: 0,
                    image: '',
                    description: '',
                    slug: ''
                },
            }
        },
        methods:{
            imageChanged: function(type, e){
                var fileReader = new FileReader();

                fileReader.readAsDataURL(e.target.files[0]);
                fileReader.onload = (e) => {
                    if(type == 'add')
                        this.new_list.image = e.target.result;
                    else if(type == 'edit')
                        this.editlist.image = e.target.result;
                }
            },
            updatelist: function(){
                this.$http.put('/api/feature', JSON.stringify(this.editlist), {headers: window.myheaders})
                    .then(res => {
                        this.init();
                        $.Toast("success", "Feature Added Successfully Updated.", "success", {});
                    });
            },
            deletelist: function(id){
                this.$http.post('/api/deletefeature/', {id: id}, {headers: window.myheaders})
                    .then(res => {
                        var list = this.feature_list.filter(ls => ls.id == id)[0];
                        this.feature_list.splice(this.feature_list.indexOf(list), 1);
                        $.Toast("success", "Feature Successfully Deleted.", "success", {});
                    });
            },
            addlist: function(){
                this.$http.post('/api/feature', JSON.stringify(this.new_list), {headers: window.myheaders})
                    .then(res => {
                        this.init();
                        this.new_list.image = "";
                        this.new_list.description = "";
                        this.new_list.slug = "";

                        $.Toast("success", "Feature Added Successfully.", "success", {});
                    });
            },
            init: function(){
                this.$http.get('/api/feature', {headers: window.myheaders})
                    .then(res => {
                        this.feature_list = res.body;
                    });
            },
        },
        mounted() {
            this.init();
        }
    }
</script>
