<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Sliders</li>
                </ol>
                <div class="card card-default">
                    <div class="card-header">Slider 1 Section</div>
                    <div class="card-body">
                        <form method="post" v-on:submit.prevent="update()">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Title</label>
                                <input type="text" class="form-control" v-model="banner.heading" >
                            </div>
                            <div class="col-md-12 form-group">
                                <label>Description</label>
                                <textarea row="30" style="width: 100%; min-height:150px; " required v-model="banner.description"> </textarea>
                            </div>


                            <div class="col-md-12" align="center">
                                <button class="btn btn-primary col-md-4">Save</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>

                <br>
                <br>

                <div class="card card-default">
                    <div class="card-header">Slider 2 Section</div>
                    <div class="card-body">
                        <form method="post" v-on:submit.prevent="sliderupdate()">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Title</label>
                                    <input type="text" class="form-control" v-model="slider.heading_slider" >
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>Description</label>
                                    <textarea row="30" style="width: 100%; min-height:150px; " required v-model="slider.description_slider"> </textarea>
                                </div>


                                <div class="col-md-12" align="center">
                                    <button class="btn btn-primary col-md-4">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    var csrf_token = document.querySelector("meta[name='csrf-token']").attributes.content.value;
    export default {
        data: function(){
            return {
                slider: {
                    id: 1,
                    heading_slider: '',
                    description_slider: '',
                },
                banner: {
                    id: 1,
                    heading: '',
                    description: '',
                }

            }
        },
        methods:{
            update: function(){
                this.$http.put('/api/banner', JSON.stringify(this.banner), {headers: window.myheaders})
                          .then(res => {
                              $.Toast("success","Banner Successfully Updated.", "success", {});
                          })
            },
            sliderupdate: function(){
                this.$http.put('/api/slider', JSON.stringify(this.slider), {headers: window.myheaders})
                    .then(res => {
                        $.Toast("success","Slider 2 Successfully Updated.", "success", {});
                    })
            },

            init: function(){
                this.$http.get('/api/banner', {headers: window.myheaders})
                      .then(res => {
                          this.banner = res.body[0];
                      });

                this.$http.get('/api/slider', {headers: window.myheaders})
                    .then(res => {
                        this.slider = res.body[0];
                    });
            }
        },
        mounted() {
            this.init();
            // $.Toast("test", "this is a test message.", "success", {});
        }
    }
</script>
