<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Profile</li>
                </ol>

                <div class="card card-default">
                    <div class="card-header">Users Profile Section</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                        <transition-group tag="tbody" mode="out-in" name="slidefade">
                                            <tr v-for="item in profile" :key="item.id">
                                                <td>{{item.name}}</td>
                                                <td>{{item.email}}</td>
                                            </tr>
                                        </transition-group>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    var csrf_token = document.querySelector("meta[name='csrf-token']").attributes.content.value;
    export default {
        data: function(){
            return {
                profile: [],

            }
        },
        methods:{

            init: function(){

                this.$http.get('/api/profile', {headers: window.myheaders})
                          .then(res => {
                              this.profile = res.body;
                          });
            }
        },
        mounted() {
            this.init();
        }
    }
</script>
